<div class="tradesapp row">
  <div class="jumbotron col-md-12 text-center">
    <h1>Booked currency trades</h1>
    <button class="btn btn-sm btn-primary btn-create" *ngIf="!toggleForm" (click)="toggleForm = !toggleForm">New trade</button>
    <div class="new-trade" *ngIf="toggleForm">
      <div class="row h-100">
        <div class="col-md-4">
          <p>
            <select class="form-control" (change)="getRates(newTrade.sell_currency)" [(ngModel)]="newTrade.sell_currency">
              <option selected disabled hidden label value>Select selling currency</option>
              <option *ngFor="let currency of sellCurrencies">{{currency}}</option>
            </select>
          <p>
            <input class="form-control" type="number" id="sell_amount" [(ngModel)]="newTrade.sell_amount" placeholder="Amount..." required />
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <input class="form-control" disabled="true" type="number" id="rate" [(ngModel)]="newTrade.rate" placeholder="Automatic rate" required />
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <select class="form-control" [disabled]="!newTrade.sell_amount" (change)="computeAmount(newTrade.buy_currency)" [(ngModel)]="newTrade.buy_currency">
              <option selected disabled hidden label value>Select buying currency</option>
              <option *ngFor="let rate of buyCurrencies">{{rate}}</option>
            </select>
          </p>
          <p>
            <input class="form-control" disabled="true" type="number" id="buy_amount" [(ngModel)]="newTrade.buy_amount" placeholder="Automatic buy amount" required />
          </p>
        </div>
        <div class="col-md-12">
          <p>
            <button class="btn btn-sm btn-primary btn-create" (click)="addTrade()">Purchase</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default panel-table">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <table class="table table-striped table-bordered table-list">
          <thead>
            <tr>
              <th>Sell CCY</th>
              <th>Sell Amount</th>
              <th>Buy CCY</th>
              <th>Buy Amount</th>
              <th>Rate</th>
              <th>Date Booked</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trade of trades">
              <td>{{ trade.sell_currency }}</td>
              <td>{{ trade.sell_amount }}</td>
              <td>{{ trade.buy_currency }}</td>
              <td>{{ trade.buy_amount }}</td>
              <td>{{ trade.rate }}</td>
              <td>{{ trade.booked_date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
